<div class="container">
	<div class="jumbotron">
		<h1 class="text-center"><strong>Eat-Da-Burger</strong></h1>

<form class="form-horizontal" action="burgers/create/" method="POST">
	<div class="hamurgerInput">
	  <input type="text" class="form-control" placeholder="Hamburger input" name="newHamburger">
	</div>

  <div class="form-group">
    <div class="submitButton">
      <input type="submit" class="btn btn-default" value="Submit">
    </div>
  </div>
  </div>
</div>
</form>

<table>
  <tr>
    <th>Bite Me!
      <br></br>
      <ul>
        {{#each burgers}}
          {{#unless this.devoured}}
            <li>
              {{this.burger_name}}

              <form action="burgers/devoured/{{this.burger_name}}?_method=PUT" method="POST"><input type="hidden" name="devoured" value="1">
                <button type="submit">DEVOUR</button>
              </form>

              {{> burger/delete-burger}}
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </th>

    <th>Ouch! Maybe just nibble me next time.
    <br></br>
      <ul>
        {{#each burgers}}
          {{#if devoured}}
            <form method="POST" action="/burgers/delete/{{this.burger_name}}?_method=DELETE" class="form-inline">
              <div class="form-group">
                <label class="sr-only">Devoured burger</label>
                <p class="form-control-static">{{ burger_name }}</p>
              </div>
              <button id="burger-id{{burger_id}}" type="submit" class="btn btn-default">Trash It</button>
              <hr>
            </form>
          {{/if}}
        {{/each}}






   
    {{#each burgersDevoured}}
      {{#unless this.delete}}
        <li>
          {{this.burger_name}}
          
          <form action="burgers/devoured/{{this.burger_name}}?_method=POST" method="POST"><input type="hidden" name="allGone" value="0">
            <button type="submit">DELETE</button>
          </form>

          {{> burger/delete-burger}}
        </li>
      {{/unless}}
    {{/each}}
  </ul>

    </th>
  </tr>

	


